body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  position: fixed;
  top: 5%;
  left: 37%;
  padding:0px 10px ;
  padding-bottom: 20px;
  font-size: 8ch;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.842);
  transform: skewY(-10deg);
  text-align: center;
  border: 1px solid;
  /* font-family: "Oswald", Helvetica, sans-serif;
  font-size: 80px;
  
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -3px -3px 0 firebrick, -4px -4px 0 firebrick, -5px -5px 0 firebrick,
    -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick; */
}
